h1{
	font-size : 50px;
	text-align: center;
}
p.uppercase {
    text-transform: uppercase;
    background-color: blue;
}
img{
    border-radius: 20%;
    width: 30%; 
    height: 30%
}

body{
    font-family: Arial;
	background-image: url("https://media2.giphy.com/avatars/100soft/WahNEDdlGjRZ.gif");    
}
.intro { 
    color: white;
}
#line{
    text-decoration: underline;
}

#align{
    display:table-cell;
    vertical-align:middle;
    text-align:center
}